# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
src/Ishii/Resources/Config/app.yaml

web/privacy_policy.html

*.sublime-project
*.sublime-workspace
